In [ ]:
""""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.""""

In [1]:
import pandas as pd
data=[ 4, 8, 15, 16, 23, 42]
Series=pd.Series(data)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
import pandas as pd
data=(list(range(1,11)))
series=pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
"""Q3. Create a Pandas DataFrame that contains the following data:"""

In [15]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd 
data={"Name": ['Alice', 'Bob', 'Claire'],
 "Age":[25,30,27],
"Gender":['Female', 'Male', 'Female']}
df=pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example."""

'Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

In [12]:
"""
In Pandas, a DataFrame is a two-dimensional tabular data structure that can store and manipulate data. It is similar to a table in a relational database or a spreadsheet with rows and columns. A DataFrame allows you to organize and work with data in a structured and flexible manner.

A DataFrame consists of columns, where each column is a Pandas Series. A Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It can be seen as a single column of data.

Here's an example to illustrate the difference between a DataFrame and a Series:"""

"\nIn Pandas, a DataFrame is a two-dimensional tabular data structure that can store and manipulate data. It is similar to a table in a relational database or a spreadsheet with rows and columns. A DataFrame allows you to organize and work with data in a structured and flexible manner.\n\nA DataFrame consists of columns, where each column is a Pandas Series. A Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It can be seen as a single column of data.\n\nHere's an example to illustrate the difference between a DataFrame and a Series:"

In [13]:
import pandas as pd

# Creating a Series
fruits = pd.Series(['Apple', 'Banana', 'Orange', 'Mango'])

# Creating a DataFrame
data = {
    'Fruit': ['Apple', 'Banana', 'Orange', 'Mango'],
    'Color': ['Red', 'Yellow', 'Orange', 'Yellow'],
    'Price': [1.0, 0.5, 0.75, 1.2]
}
df = pd.DataFrame(data)

print("Series:")
print(fruits)
print("\nDataFrame:")
print(df)

Series:
0     Apple
1    Banana
2    Orange
3     Mango
dtype: object

DataFrame:
    Fruit   Color  Price
0   Apple     Red   1.00
1  Banana  Yellow   0.50
2  Orange  Orange   0.75
3   Mango  Yellow   1.20

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
"""some common functions:

head() and tail(): These functions allow you to view the first or last few rows of a DataFrame. They are useful for quickly inspecting the data.

info(): This function provides a summary of the DataFrame, including the number of rows and columns, data types of each column, and memory usage. It helps in understanding the structure of the DataFrame.

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It provides insights into the distribution and summary statistics of the data.

shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It allows you to check the size of the DataFrame.

columns: This attribute returns the column labels of the DataFrame as a list. It can be used to get a list of all the column names in the DataFrame.

loc and iloc: These indexing functions are used to access specific rows and columns in the DataFrame. loc is label-based indexing, whereas iloc is integer-based indexing.

drop(): This function is used to remove rows or columns from the DataFrame. It allows you to drop specific rows or columns based on labels or indices.

sort_values(): This function is used to sort the DataFrame by one or more columns. It allows you to specify the column(s) to sort by and the sorting order (ascending or descending).

groupby(): This function is used for grouping data based on one or more columns. It allows you to perform aggregations, apply functions, and analyze data within each group.

merge(): This function is used to combine two or more DataFrames based on a common column or index. It helps in merging data from different sources into a single DataFrame."""

In [ ]:
Let's say you have a DataFrame sales_data that contains sales information for different products. You might want to use the groupby() function to analyze the total sales for each product category. Here's an example

In [15]:
import pandas as pd

# Assuming sales_data is the DataFrame containing sales information
sales_by_category = sales_data.groupby('Category')['Sales'].sum()
print(sales_by_category)

NameError: name 'sales_data' is not defined

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Among the options provided, both Series and DataFrame in Pandas are mutable in nature, meaning they can be modified after creation. On the other hand, Panel is an older Pandas data structure that has been deprecated since version 0.20.0. Therefore, it is no longer recommended to use Panel.

To summarize:

Series: Mutable. You can modify elements, add or remove elements, and change values within a Series.

DataFrame: Mutable. You can modify columns, add or remove columns, change values within the DataFrame, and perform various data manipulations.

Panel: Deprecated. It is no longer recommended to use Panel, as it has been replaced by other data structures like DataFrame in newer versions of Pandas.

For most use cases, working with mutable Series and DataFrame objects should be sufficient to handle data manipulation and analysis tasks in Pandas.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
o create a DataFrame using multiple Series, you can pass the Series objects as a dictionary to the pd.DataFrame() function. Each Series will represent a column in the DataFrame. Here's an example:

In [ ]:
import pandas as pd

# Creating Series for Name, Age, and Gender
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

print(df)

In [ ]:
In this example, we create three separate Series objects: name_series, age_series, and gender_series. Each Series represents a column of data for the DataFrame.

We then create a dictionary data where the keys represent the column names ('Name', 'Age', 'Gender') and the values are the corresponding Series objects.

Finally, we pass the dictionary data to pd.DataFrame() to create the DataFrame df. The resulting DataFrame has three columns ('Name', 'Age', 'Gender') with the data from the respective Series.

This way, you can combine multiple Series into a DataFrame, making it easy to organize and analyze your data.